.container {
  height: 100%;
  display: flexbox;
  justify-content: center;
}

.Books {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  .Books {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.Book {
  background-image: linear-gradient(to right top, #82c2aa, #ffffff);
  margin-bottom: 80px;
  margin-left: 0px;
  font-weight: 20;
  max-width: 1300px;
  padding: 14px;
  border-radius: 40px;
  color: #5961ba;
  display: grid;
  grid-gap: 150px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 23px 27px 25px rgba(2, 2, 53, 0.25);
}
.Booka {
  background-image: linear-gradient(
    to top,
    #d7eddd,
    #ffe469,
    #ffd166,
    #ffbe66,
    #ffac69,
    #ff9d6d,
    #ff8f73,
    #ff827b,
    #fc7486,
    #f46993,
    #6b37dc,
    #3f3aba
  );
  margin-bottom: 20px;
  font-weight: 20;
  padding: 200px;
  border-radius: 5px;
  color: #000001;
  display: grid;
  grid-template-columns: minmax(3px, 0.9fr) 1fr;
  grid-gap: 180px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px 15px rgba(9, 9, 63, 0.25),
    0 8px 26px -8px rgba(0, 0, 0, 0.3);
}
.Book__img {
  position: relative;
  top: -80px;
  border-radius: 20px;
  margin-right: 40px;
  box-shadow: 15px 11px 27px 15px rgba(6, 6, 53, 0.25),
    14px 13px 28px 9px rgba(58, 13, 13, 0.3);
  float: left;
}

.Book__year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.Book__title {
  display: flex;
  margin-right: 0px;
  margin-top: 30px;
  font-size: 40px;
  color: #6a0b0bd0;
  text-decoration: none;
}

.Book__genres {
  position: relative;
  left: 14px;
  top: 44px;
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
  font-size: 30px;
  margin-right: 0px;
  border-radius: 10px;
  float: left;
}
.Book__year {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0px;
  font-size: 30px;
  margin-right: 0px;
  float: left;
}
.Book__img:hover {
  transform: scale(1.2);
}
.Book__title:hover {
  transform: scale(1.1);
  color: #3f3aba;
}
.Book__year:hover {
  transform: scale(1.1);
  color: #3f3aba;
}
.Book__genres:hover {
  transform: scale(1.1);
  color: #3f3aba;
}
