@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.container {
  height: 100%;
  display: flexbox;
  justify-content: center;
}

.Books {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  .Books {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.Book {
  background-image: linear-gradient(to right top, #82c2aa, #ffffff);
  margin-bottom: 80px;
  margin-left: 0px;
  font-weight: 20;
  background: url(img/img.png);
  border: 9px solid #9afafbc4;
  max-width: 1300px;
  padding: 20px;
  border-radius: 40px;

  color: #5961ba;
  display: grid;
  grid-gap: 80px;
  text-decoration: none;
  color: inherit;
  box-shadow: 15px 11px 27px 15px rgb(6 6 53 / 25%),
    19px 16px 3px 9px rgb(58 13 13 / 30%);
}

.Booka {
  background-image: linear-gradient(
    to top,
    #d7eddd,
    #ffe469,
    #ffd166,
    #ffbe66,
    #ffac69,
    #ff9d6d,
    #ff8f73,
    #ff827b,
    #fc7486,
    #b64e6d,
    #523299,
    #1e2631
  );
  margin-top: 0px;
  font-weight: 20;
  padding: 30px;
  color: #000001;
  display: grid;
  grid-template-columns: minmax(3px, 0.9fr) 1fr;
  grid-gap: 106px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px 15px rgb(9 9 63 / 25%),
    0 8px 26px -8px rgb(0 0 0 / 30%);
}
.Book__img {
  transition: all 0.2s linear;
  position: relative;
  border: 9px solid #ffa79d;
  top: 17px;
  left: -29px;
  border-radius: 20px;
  margin-right: 40px;
  box-shadow: 15px 11px 27px 15px rgb(6 6 53 / 25%),
    19px 16px 3px 9px rgb(58 13 13 / 30%);
  float: left;
}

.Book__word {
  transition: all 0.02s linear;
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.Book__title {
  transition: all 0.09s linear;
  display: flex;
  margin-right: 0px;
  margin-top: -4px;
  border: 3px solid #533e9f;
  border-radius: 13px;
  font-family: "Jua", sans-serif;
  font-size: 30px;
  color: #000000d0;
  text-decoration: none;
  box-shadow: 8px 11px 2px 2px rgb(55 126 185 / 30%);
  float: unset;
}

.Book__writer {
  transition: all 0.09s linear;
  position: relative;
  left: 14px;
  top: 60px;
  font-family: "Jua", sans-serif;
  list-style: none;
  padding: 6px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
  font-size: 20px;
  margin-right: 0px;
  border-radius: 10px;
}
.Book__word {
  transition: all 0.2s linear;
  list-style: none;
  padding: 0px;
  margin: 0;
  font-family: "Jua", sans-serif;
  display: flex;
  margin: 20px 0px;
  font-size: 20px;
  margin-right: 0px;
  float: left;
  width: 60%;
}
.Book__img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.Book__title:hover {
  transform: scale(1.1);
  color: #24248d;
}
.Book__word:hover {
  transform: scale(1.1);
  color: #daea2b;
}
.Book__writer:hover {
  transform: scale(1.1);
  color: #9734d1;
}
.Book__review:hover {
  transform: scale(1.1);
  color: #61c46b;
}
.Book__review {
  transition: all 0.2s linear;
  position: relative;
  left: 14px;
  top: -32px;
  list-style: none;
  padding: 6px;
  margin: 0;
  font-family: "Jua", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  font-size: 20px;
  margin-right: 0px;
  border-radius: 10px;
  float: left;
}
.Book__review2 {
  width: 30%;
  float: right;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.li {
  background-color: #e8f5ec;
  width: 102%;
  height: 76%;
  box-shadow: 15px 11px 27px 15px rgb(6 6 53 / 25%),
    14px 13px 28px 9px rgb(58 13 13 / 30%);
  border-radius: 53px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(img/back.jpg);
  background-size: 100% 100%;
}
.Container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal-show 0.6s;
}
.Container.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 1.05s;
}

.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.793),
    rgba(255, 255, 255, 0.793)
  );
}

.Contents {
  position: relative;
  top: 0px;
  padding: 0 auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: rgb(243, 243, 243);
  text-align: center;
  width: 50%;
  height: 600px;
}

.Title {
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #1e1e24;
  background-color: #acf1eb;
  width: 100%;
  overflow: auto;
  height: 10%;
}

.Close {
  position: absolute;
  margin-right: 15px;
  color: gray;
  right: 0;
}

.Close:hover {
  cursor: pointer;
}
.modalreview {
  width: 49.4vmax;
  background-color: rgb(243, 243, 243);
  max-height: 500px;
}

.ui {
  list-style: url(img/1232.png);
  margin-left: 400px;
  margin-top: 90px;
}
.list {
  margin-bottom: -5px;
  border-bottom: 1px solid #62aaaa;
  font-size: 20px;
}
.inputReview {
  width: 300px;
  height: 50px;
  margin: 3px 0;
  outline: none;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(216, 173, 249, 0.889);
  position: absolute;
  border: 3px solid rgb(142, 142, 192);
  bottom: 0px;
  height: 52px;
}
.inputReview:focus {
  animation-name: border-focus;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes border-focus {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 15px;
  }
}
.Reviewbutton {
  color: white;
  background-color: rgb(234, 149, 251);
  padding: 0.375rem 0.75rem;
  border: 1px solid rgb(108, 218, 218);
  border-radius: 0.5rem;
  font-size: 1rem;
  animation: modal-show 1.3s;
  align-items: center;
  position: absolute;
  border: 3px solid rgb(142, 142, 192);
  bottom: 0px;
  margin-bottom: 3px;
}
.ReviewSection {
  margin-left: 255px;
}
.footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Commentdiv {
  float: left;
}
.Modalimg {
  float: left;
}
.Modalimg2 {
  animation: modal-show 1.3s;
  border-radius: 15px;
  border: 5px solid rgb(22, 218, 218);
  margin-left: 40px;
  top: -40px;
}
